.header {
  margin-top: 60px;
  height: 450px;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }

  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 18px;
    text-align: center;
  }

}

@media only screen and (max-width: 768px) {

  .headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
   
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 18px;
    text-align: center;
  }
}

